table.ledger {
    border-spacing: 0px;
    padding-bottom: 40px;
    white-space: nowrap;
}

table.ledger tr td {
    margin: 0px;
    font: 14px Verdana;
}

table.ledger tr td.ledger-delta {
    padding-left: 1ex;
    padding-right: 0.5ex;
}

table.ledger tr td.ledger-value {
    padding-right: 1ex;
    padding-left: 0.5ex;
    color: #888;
}